body{
    background-image: linear-gradient(to top left,green, rgb(0, 255, 0));
}

.Titulo {
    margin-top: 25px;
    display: flex;
    justify-content: center;

    opacity: 0;
    transform: translateY(20px);
    animation: aparecer 1s ease forwards;

    h1{
        background-color: rgb(111, 0, 255);
        color: white;
        padding: 15px;
        width: 50%;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 15px;
    }
}


.Fotos{
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
    text-align: center;

    .Secciones{
        


        justify-content: center;
        padding: 15px;
        text-align: center;
    }

    img{

            opacity: 0;
    transform: translateY(20px);
    animation: aparecer 1s ease forwards;

        background-color: white;
        padding: 15px;
        width: 15%;
        height: auto;
        border-radius: 15px;
    }


}



@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-transition {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.scroll-transition.visible {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .Titulo h1 {
        width: 85%;
        font-size: 28px;
    }

    .Fotos img {
        width: 22% !important;
    }
}

@media screen and (max-width: 480px) {
    .Titulo {
        margin-top: 15px;
    }

    .Titulo h1 {
        width: 95%;
        font-size: 20px;
        padding: 10px;
    }

    .Fotos {
        padding: 10px;
    }

    .Fotos img {
        width: 45% !important;
        padding: 8px;
        margin: 5px;
    }
}
